
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
	background: #fff;
	width: 100%;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #7a7a7a;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

footer a:hover{
	color: orange !important;
}

i, span {
    display: inline-block;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.panel.panel-horizontal {
    display: table;
    width: 100%;
}
.panel.panel-horizontal > .panel-heading {
    display:table-cell;
}
.panel.panel-horizontal > .panel-heading {
    width: 15%;
    border: 0;
    vertical-align: middle;
	text-align: center;
}
.panel.panel-horizontal > .panel-heading {
    border-right: 1px solid #ddd;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1px;
}

.panel-body {
    padding: 8px;
}

.panel-footer {
	padding: 3px 4px;
}

.panel-footer a:hover,
.well a:hover,
ol.references li a:hover {
	color: orange !important;
}

.panel-heading {
	background: rgba(115, 134, 213, 0.5)!important;
}	

.panel-transparent .panel-body {
	background: rgba(115, 134, 213, 0.4)!important;
}

#graph-panel .panel-body, 
#img-panel .panel-body {
	vertical-align: middle !important;
	text-align: center;
}

.well {
	text-align: left;
}

.well a {
	color: #273983 !important;
}

/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */
	
.navbar {
    padding: 5px 5px;
    background: #fafafa;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	width: 100%;
}

.navbar-btn, .btn, .btn-info {
    box-shadow: none;
    outline: none !important;
    border: none;
	background: #7386D5 !important;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: auto;
    margin-left: auto;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

#sidebar.active .sidebar-header h4, #sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
	color: orange !important;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}
#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#sidebar ul li a:active {
    background: #6d7fcc;
	color: #ddd !important;
}

footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: '\e260';
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article, a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
	width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important ;
    }
    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right:  0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}



/* ---------------------------------------------------
   ***** D3 Pie-Bar Chart Style *****
----------------------------------------------------- */
#chartset path {  stroke: #fff; }
#chartset path:hover {  opacity:0.9; }
#chartset .bar rect:hover {  fill:red; }
#chartset .axis {  font: 10px sans-serif; }
#chartset .legend tr{    border-bottom:1px solid grey; }
#chartset .legend tr:first-child{    border-top:1px solid grey; }

#chartset .axis path,
#chartset .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#chartset .x.axis path {  display: none; }
#chartset .legend{
	margin-bottom:26px;
	margin-left:16px;
	display:inline-block;
	border-collapse: collapse;
	border-spacing: 0px;
}
#chartset .legend td{
	padding:4px 5px;
	vertical-align:bottom;
}
#chartset .legendCost, .legendPerc{
	align:right;
	width:50px;
}



/* ---------------------------------------------------
   ***** D3 Stacked Bar Chart Style *****
----------------------------------------------------- */
#svg2 .axis .domain {
    display: none;
  }

  

/* ---------------------------------------------------
   ***** D3 Horizontal Bar Chart Style *****
----------------------------------------------------- */
#svg3 .bar {
	fill: #821722;
}
#svg3 .axis path,
#svg3 .axis line {
	fill: none;
	stroke: #D4D8DA;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}
#svg3 .x path {
	display: none;
}
.tooltip2 {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #6F257F;
	padding: 14px;
	text-align: center;
	font-weight: bold;
}



/* ---------------------------------------------------
   ***** D3 Gauge Style *****
----------------------------------------------------- */
#power-gauge {
	height: 260px; 
}

#power-gauge svg {
	width: auto;
}

#power-gauge g.arc {
	fill: steelblue;
}

#power-gauge g.pointer {
	fill: red;
	stroke: #b64011;
}

#power-gauge g.label text {
	text-anchor: middle;
	font-size: 14px;
	font-weight: bold;
	fill: #666;
}



/* ---------------------------------------------------
   ***** Top 10 Pie Chart Style *****
----------------------------------------------------- */
#piechart {
	position: relative;
	height: 260px; 
}	

#piechart svg {
	width: auto;
}

#piechart path.slice{
	stroke-width:2px;
}

#piechart polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

#piechart .labelValue{
	font-size: 60%;
	opacity: .5;		
}

#piechart .toolTip {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	background: none repeat scroll 0 0 white;
	border: 0 none;
	border-radius: 8px 8px 8px 8px;
	box-shadow: -3px 3px 15px #888888;
	color: black;
	font: 12px sans-serif;
	padding: 5px;
	text-align: center;
}

#piechart text {
  font: 12px sans-serif;
}




