{% extends "base.html" %}

{% block content %}		
	<h2>Weather-Related Disasters to Affect the U.S. From 1980 to 2018</h2>
	<p>Data was obtained online from <a href="https://www.ncei.noaa.gov/" class="external" target="_blank">NOAA</a> and represents January 1980 through June 2018</p>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="graph-panel">
			<div class="panel panel-default">
			<div class="panel-heading">Total CPI Adjusted Cost in Millions <i>(Hover over parts of each graph for a further breakdown)</i></div>
			<div class="panel-body">
				<div id='chartset'>
					<svg id='barsvg'></svg><svg id='piesvg'></svg>
				</div>
			</div>	
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="graph-panel">
			<div class="panel panel-default">
			<div class="panel-heading">Total Death Toll By Weather-Related Disaster</div>
			<div class="panel-body">
				<div id='graph2'>
					<svg id='svg2' width='900' height='375'></svg>
				</div>
			</div>	
			</div>
		</div>
	</div>			
	<div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"id="graph-panel">
		<div class="panel panel-default">
		<div class="panel-heading">Top 10 Costliest & Deadliest Weather-Related Disasters</div>
			<div class="panel-body">
				<div id='graph3'>
					<form>
						<label><input type="radio" name="dataset" id="dataset" value="option1"> Top 10 Costliest (CPI Adjusted Cost in Millions)</label>
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						<label><input type="radio" name="dataset" id="dataset" value="option2"> Top 10 Deadliest</label>
					</form>
					<svg id='svg3' width='900' height='375'></svg>
				</div>
			</div>
		</div>
	  </div>					 
	</div>				
{% endblock %}

{% block about1_script %}
	var allData = {{ data | tojson }};
	
	var cData = allData[0];
	var dData = allData[1];
	var top10CData = allData[2];
	var top10DData = allData[3];

	chartSet('#chartset',cData);
	graph2('#graph2',dData);
	graph3('#graph3',top10CData,top10DData);
{% endblock %}		
		
