<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="robots" content="all,follow">
	
	<style>
		span.letterLinkSpan {
		display: inline-block;
		}
		span.letterLinkSpan>a.letterLink {
			display: inline-block;
			width: 1.1em;
			text-align: center;
			padding: 0.2em;
			font-size: medium;
			color: #000000;
			background-color: #7386D5;
		}

		span.letterLinkSpan>a.letterLink.entriesPresent {
			font-weight: bold;
		}
		span.letterLinkSpan>a.letterLink.entriesAbsent {
			font-weight: normal;
			color: #FFEEEE;
		}
		span.letterLinkSpan>a.letterLink:hover {
			background-color: #DDDDFF;
		}
	</style>

	<title>Machine Learning & Climate Change Project</title>		
	<link rel="shortcut icon" href="../static/img/favicon.png">
	 <!-- Bootstrap CSS CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Font Awesome CSS-->
	<link rel="stylesheet" href="../static/vendor/font-awesome/css/font-awesome.min.css">
	<!-- Fontastic Custom icon font-->
	<link rel="stylesheet" href="../static/css/fontastic.css">
	<!-- Dashboard CSS -->
	<link rel="stylesheet" href="../static/css/style_custom.css">		
	<script src="../static/js/mlcc_xtra.js" type="text/javascript"></script>			
	<script src="https://d3js.org/d3.v4.min.js"></script>

</head>

<body>
	<div class="wrapper">
		<!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h4>Data Masters, Inc.</h4>
                    <strong>DM</strong>
                </div>
                <ul class="list-unstyled components">
                    <li {% if request.endpoint == 'index' %}class="active"{% endif %}>
                        <a href="{{url_for('index')}}">
                            <i class="glyphicon glyphicon-home"></i>
                            Home 
                        </a>
                    </li>
                    <li {% if request.endpoint == 'about1' %}class="active" {% elif request.endpoint == 'about2' %}class="active"{% endif %}>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Project Info
                        </a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="{{url_for('about1')}}">National</a></li>
                            <li><a href="{{url_for('about2')}}">Local</a></li>
                        </ul>
                    </li>
                    <li {% if request.endpoint == 'glossary' %}class="active"{% endif %}>
                        <a href="{{url_for('glossary')}}">
                            <i class="glyphicon glyphicon-link"></i>
                            Glossary
                        </a>
                    </li>
                    <li {% if request.endpoint == 'references' %}class="active"{% endif %}>
                        <a href="{{url_for('references')}}">
                            <i class="glyphicon glyphicon-paperclip"></i>
                            References
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End Sidebar Holder -->
            <!-- Start Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="#"><img src="../static/img/user.png" alt="John Doe" width="35" height="35"></a></li>							
								<li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
							</ul>
                        </div>
                    </div>
                </nav>
				
                <h2>Glossary</h2>				
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="glossary-panel">
						<div class="panel panel-default">						
							<div class="panel-body">
								<div id="quicklinks"></div>
								</br>
								<dl class="glossary"> 
									<a name="Cat"></br>
										<dt>Cyclone</dt>
										<dd>A large-scale circulation of winds around a central region of low atmospheric pressure, counter-clockwise in the Northern 
											Hemisphere, clockwise in the Southern Hemisphere..</dd>
									<a name="Drought"></br>
										<dt>Drought</dt>
										<dd>Drought is a deficiency of moisture that results in adverse impacts on people, animals, or vegetation over a sizeable area. 
											NOAA together with its partners provides short- and long-term Drought Assessments.</dd>
									<a name="Flooding"></br>
										<dt>Flooding</dt>
										<dd>Any high flow, overflow, or inundation by water which causes or threatens damage.</dd>
									<a name="Freeze"></br>
										<dt>Freeze</dt>
										<dd>A freeze is when the surface air temperature is expected to be 32Â°F or below over a widespread area for a climatologically 
											significant period of time. Use of the term is usually restricted to advective situations or to occasions when wind or other 
											conditions prevent frost. "Killing" may be used during the growing season when the temperature is expected to be low enough 
											for a sufficient duration to kill all but the hardiest herbaceous crops.</dd>
									<a name="Linear Regression"></br>
										<dt>Linear Regression</dt>
										<dd>Linear regression refers to a linear estimation of the relationship between a dependent variable and one or more independent variables. </dd>
									<a name="Machine Learning"></br>
										<dt>Machine Learning</dt>
										<dd>Machine learning (ML) is the scientific study of algorithms and statistical models that computer systems use to progressively improve 
											their performance on a specific task. Machine learning algorithms build a mathematical model of sample data, known as "training data", 
											in order to make predictions or decisions without being explicitly programmed to perform the task.</dd>										
									<a name="NOAA"></br>
										<dt>NOAA</dt>
										<dd>National Oceanic and Atmospheric Association 
											<a href="https://www.ncei.noaa.gov/" class="external" target="_blank">(https://www.ncei.noaa.gov/)</a></dd>
									<a name="OLS Regression"></br>
										<dt>OLS Regression</dt>
										<dd>Ordinary least squares (OLS) regression is a statistical method of analysis that estimates the relationship between one or more 
											independent variables and a dependent variable; the method estimates the relationship by minimizing the sum of the squares in the 
											difference between the observed and predicted values of the dependent variable configured as a straight line.</dd>
									<a name="Severe Storm"></br>
										<dt>Severe Storm</dt>
										<dd>A thunderstorm that produces a tornado, winds of at least 58 mph (50knots), and/or hail at least 1" in diameter. 
											Structural wind damage mayimply the occurrence of a severe thunderstorm. A thunderstorm wind equalto or greater 
											than 40 mph (35 knots) and/or hail of at least 1" isdefined as approaching severe.</dd>
									<a name="Step-wise Regression"></br>
										<dt>Stepwise Regression</dt>
										<dd>Stepwise regression is a method of fitting regression models in which the choice of predictive variables is carried out by an automatic procedure. 
											In each step, a variable is considered for addition to or subtraction from the set of explanatory variables based on some pre-specified criterion.</dd>
									<a name="Tropical Cyclone"></br>									
										<dt>Tropical Cyclone</dt>
										<dd>A warm-core, non-frontal synoptic-scale cyclone, originating over tropical or subtropical waters with organized deep 
											convection and a closed surface wind circulation about a well-defined center.</dd>
									<a name="Wildfire"></br>
										<dt>Wildfire</dt>
										<dd>Any free burning uncontainable wildland fire not prescribed for the area which consumes the natural fuels and spreads 
											in response to its environment.</dd>
									<a name="Winter Storm"></br>
										<dt>Winter Storm</dt>
										<dd>A winter storm is an event in which the main types of precipitation are snow, sleet or freezing rain.</dd>
								</dl>
							</div>	
						</div>
					</div>
			    </div>
		     </div>
		   <!-- End Content Holder -->
	 </div> 
	 
	<footer class="container-fluid text-center">
	  <div class="row-fluid">
		<div class="col-sm-6">
		  <p>Data Masters, Inc &copy; <span id="year"></span></p>
		</div>
		<div class="col-sm-6">
		  <p>Designed by <a href="https://patrol7171.github.io" class="external" target="_blank">P. Rollins</a></p>
		</div>
	  </div>
	</footer>  	
		
	<!-- jQuery CDN -->
	<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
	<!-- Bootstrap JS CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script>
		var terms = $("dl.glossary dt").sort();
		var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
		
		for (var i = 0; i < letters.length; i++) {
			var nextChar = letters.charAt(i);
			// Need to find first of each letter
			var foundOne = -999;
			for (var j = 0; j < terms.length; j++) {
				var termj = terms[j].innerText;
				var termJJ = termj.toUpperCase();
				if (termJJ.charAt(0) == nextChar) {
					foundOne = j;
					break;
				}
			}

			// Create links and anchors based on whether something was found
			if (foundOne == -999) {
				// Create a new letterLink (with class "entriesAbsent")
				newLetterLink = "<span class=\"letterLinkSpan\"><a class=\"letterLink entriesAbsent\">" + nextChar + "</a></span>";
			} else {
				// Create a new letterLink (with class "entriesPresent")
				newLetterLink = "<span class=\"letterLinkSpan\"><a class=\"letterLink entriesPresent\" href=\"#" + nextChar + "\">" + nextChar + "</a></span>";
				// Create an anchor for the letterLink BEFORE the first glossary term starting with that letter
				$("<a class=\"letterAnchor\" name=\"" + nextChar + "\">").insertBefore(terms[foundOne]);
			}
			// Either way, add the letterLink to the list of letterLinks
			$("div#quicklinks").append(newLetterLink);
		}
	
	
		$(document).ready(function () {
		//sidebar
		 $('#sidebarCollapse').on('click', function () {
			 $('#sidebar').toggleClass('active');
		 });
		 //copyright year
		 $("#year").text((new Date).getFullYear());
		});				
	</script>
</body>

</html>