{% extends "base.html" %}

{% block glossary_style %}	
	span.letterLinkSpan {
		display: inline-block;
	}
	span.letterLinkSpan>a.letterLink {
		display: inline-block;
		width: 1.1em;
		text-align: center;
		padding: 0.2em;
		font-size: medium;
		color: #000000;
		background-color: #7386D5;
	}
	span.letterLinkSpan>a.letterLink.entriesPresent {
		font-weight: bold;
	}
	span.letterLinkSpan>a.letterLink.entriesAbsent {
		font-weight: normal;
		color: #FFEEEE;
	}
	span.letterLinkSpan>a.letterLink:hover {
		background-color: #FFAE19;
	}
{% endblock %}

{% block content %}			
	<h2>Glossary</h2>				
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="glossary-panel">
			<div class="panel panel-default">						
				<div class="panel-body">
					<div id="quicklinks"></div>
					</br>
					<dl class="glossary"> 
						<a name="Cat"></br>
							<dt>Cyclone</dt>
							<dd>A large-scale circulation of winds around a central region of low atmospheric pressure that move counter-clockwise in the Northern 
								Hemisphere and clockwise in the Southern Hemisphere.</dd>
						<a name="Drought"></br>
							<dt>Drought</dt>
							<dd>Drought is a deficiency of moisture that results in adverse impacts on people, animals, or vegetation over a sizeable area. 
								NOAA together with its partners provides short- and long-term Drought Assessments.</dd>
						<a name="Flooding"></br>
							<dt>Flooding</dt>
							<dd>Any high flow, overflow, or inundation by water which causes or threatens damage.</dd>
						<a name="Freeze"></br>
							<dt>Freeze</dt>
							<dd>A freeze is when the surface air temperature is expected to be 32Â°F or below over a widespread area for a climatologically 
								significant period of time. Use of the term is usually restricted to advective situations or to occasions when wind or other 
								conditions prevent frost. "Killing" may be used during the growing season when the temperature is expected to be low enough 
								for a sufficient duration to kill all but the hardiest herbaceous crops.</dd>
						<a name="Hurricane"></br>
							<dt>Hurricane</dt>
							<dd>A tropical cyclone in the Atlantic, Caribbean Sea, Gulf of Mexico, or eastern Pacific, which the maximum 1-minute sustained 
								surface wind is 64 knots (74 mph) or greater.</dd>											
						<a name="Linear Regression"></br>
							<dt>Linear Regression</dt>
							<dd>Linear regression refers to a linear estimation of the relationship between a dependent variable and one or more independent variables. </dd>
						<a name="Machine Learning"></br>
							<dt>Machine Learning</dt>
							<dd>Machine learning (ML) is the scientific study of algorithms and statistical models that computer systems use to progressively improve 
								their performance on a specific task. Machine learning algorithms build a mathematical model of sample data, known as "training data", 
								in order to make predictions or decisions without being explicitly programmed to perform the task.</dd>										
						<a name="NOAA"></br>
							<dt>NOAA</dt>
							<dd>National Oceanic and Atmospheric Association 
								<a href="https://www.ncei.noaa.gov/" class="external" target="_blank">(https://www.ncei.noaa.gov/)</a></dd>
						<a name="OLS Regression"></br>
							<dt>OLS Regression</dt>
							<dd>Ordinary least squares (OLS) regression is a statistical method of analysis that estimates the relationship between one or more 
								independent variables and a dependent variable; the method estimates the relationship by minimizing the sum of the squares in the 
								difference between the observed and predicted values of the dependent variable configured as a straight line.</dd>
						<a name="Severe Storm"></br>
							<dt>Severe Storm</dt>
							<dd>A thunderstorm that produces a tornado, winds of at least 58 mph (50knots), and/or hail at least 1" in diameter. 
								Structural wind damage mayimply the occurrence of a severe thunderstorm. A thunderstorm wind equalto or greater 
								than 40 mph (35 knots) and/or hail of at least 1" isdefined as approaching severe.</dd>
						<a name="Step-wise Regression"></br>
							<dt>Stepwise Regression</dt>
							<dd>Stepwise regression is a method of fitting regression models in which the choice of predictive variables is carried out by an automatic procedure. 
								In each step, a variable is considered for addition to or subtraction from the set of explanatory variables based on some pre-specified criterion.</dd>
						<a name="Tropical Cyclone"></br>									
							<dt>Tropical Cyclone</dt>
							<dd>A warm-core, non-frontal synoptic-scale cyclone, originating over tropical or subtropical waters with organized deep 
								convection and a closed surface wind circulation about a well-defined center.</dd>
						<a name="Wildfire"></br>
							<dt>Wildfire</dt>
							<dd>Any free burning uncontainable wildland fire not prescribed for the area which consumes the natural fuels and spreads 
								in response to its environment.</dd>
						<a name="Winter Storm"></br>
							<dt>Winter Storm</dt>
							<dd>A winter storm is an event in which the main types of precipitation are snow, sleet or freezing rain.</dd>
					</dl>
				</div>	
			</div>
		</div>
	</div>
{% endblock %}	
			
{% block glossary_script %}
	var terms = $("dl.glossary dt").sort();
	var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
	
	for (var i = 0; i < letters.length; i++) {
		var nextChar = letters.charAt(i);
		// Need to find first of each letter
		var foundOne = -999;
		for (var j = 0; j < terms.length; j++) {
			var termj = terms[j].innerText;
			var termJJ = termj.toUpperCase();
			if (termJJ.charAt(0) == nextChar) {
				foundOne = j;
				break;
			}
		}
		// Create links and anchors based on whether something was found
		if (foundOne == -999) {
			// Create a new letterLink (with class "entriesAbsent")
			newLetterLink = "<span class=\"letterLinkSpan\"><a class=\"letterLink entriesAbsent\">" + nextChar + "</a></span>";
		} else {
			// Create a new letterLink (with class "entriesPresent")
			newLetterLink = "<span class=\"letterLinkSpan\"><a class=\"letterLink entriesPresent\" href=\"#" + nextChar + "\">" + nextChar + "</a></span>";
			// Create an anchor for the letterLink BEFORE the first glossary term starting with that letter
			$("<a class=\"letterAnchor\" name=\"" + nextChar + "\">").insertBefore(terms[foundOne]);
		}
		// Either way, add the letterLink to the list of letterLinks
		$("div#quicklinks").append(newLetterLink);
	}	
{% endblock %}	