{% extends "base.html" %}

{% block content %}
	<h4>My Dashboard</h4>
	<div class="row-fluid" id="quote">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default panel-horizontal">
			<div class="panel-heading gradient" >
				<h2 class="panel-title"><i>Quote of the Day</i></h2>						
			</div>
				<div class="panel-body">
					<div id="quoteInfo" class="text-center"></div>
				</div>	
			</div>
		</div>
	</div>
	
	<div class="row-fluid" id="user_locale">
	  <div class="span12 text-center" id="location">
		<span>					
			<h3>Charlotte, NC</h3>
			<h6><i>Powered by <a href="https://www.aerisweather.com/" target="_blank"><img src="../static/img/aeris_logo.png" alt="AerisWeather"></a> - Last observation made on <span id='timestamp'></span></i></h6>				
		</span>
	  </div>
	</div>
	
	<div class="row-fluid" id="weather_info">
	  <div class="span12 text-center">				  
		<div class="col-sm-5sp col-md-5sp col-lg-5sp">
		  <div class="panel panel-primary panel-transparent text-center">
			<div class="panel-body" id="weather">
				<span>
					<h1></h1> 
					<h4>CURRENT<br>WEATHER</h4><hr>
					<h3></h3>
				</span>
			</div>
		  </div>
		</div>
		<div class="col-sm-5sp col-md-5sp col-lg-5sp">
		  <div class="panel panel-primary panel-transparent text-center">
			<div class="panel-body" id="temp">
				<span>
					<h1><i class="wi wi-thermometer wi-4x"></i></h1>
					<h4>CURRENT<br>TEMPERATURE</h4><hr>
					<h3></h3>              
				</span>
			</div>
		  </div>
		</div>
		<div class="col-sm-5sp col-md-5sp col-lg-5sp">
		  <div class="panel panel-primary panel-transparent text-center">
			<div class="panel-body" id="humidity">
				<span>
					<h1><h1><i class="wi wi-humidity wi-4x"></i></h1></h1>
					<h4>CURRENT<br>HUMIDITY</h4><hr>
					<h3></h3>              
				</span>
			</div>
		  </div>
		</div>
		<div class="col-sm-5sp col-md-5sp col-lg-5sp">
		  <div class="panel panel-primary panel-transparent text-center">
			<div class="panel-body" id="avgtemp">
				<span>
					<h1><i class="wi wi-thermometer-exterior wi-4x"></i></h1>
					<h4>AVERAGE<br>TEMPERATURE</h4><hr>
					<h3></h3>              
				</span>
			</div>
		  </div>
		</div>
		<div class="col-sm-5sp col-md-5sp col-lg-5sp">
		  <div class="panel panel-primary panel-transparent text-center">
			<div class="panel-body" id="precip">
				<span>
					<h1><h1><i class="wi wi-raindrops wi-4x"></i></h1></h1>
					<h4>TOTAL<br>PRECIPITATION</h4><hr>
					<h3></h3>              
				</span>
			</div>
		  </div>
		</div>
	  </div>				
	</div>	

	<div class="row-fluid">
		<div class="col-sm-8 col-md-8 col-lg-8" id="graph-panel">
			<div class="panel panel-default">
				<div class="panel-heading">Top 10 Weather-Related Disasters to Affect the U.S. Since 1980</i></div>
					<div class="panel-body">
						<div id='piechart'>
							<form>
								<label><input type="radio" name="dataset" id="dataset" value="option1"> Top 10 Costliest Event Types (In Millions)</label>
								&nbsp&nbsp&nbsp&nbsp&nbsp
								<label><input type="radio" name="dataset" id="dataset" value="option2"> Top 10 Deadliest Event Types (# of Deaths)</label>
							</form>
							<svg id='svg1'></svg>
						</div>
					</div>
				<div class="panel-footer text-right">
					<a href="{{url_for('about1')}}"><i><b>More Info</b></i></a>
				</div>							
			</div>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4" id="graph-panel">
			<div class="panel panel-default">
				<div class="panel-heading">Actual Temp vs. Forecast Temp</div>
					<div class="panel-body">
						<div id="power-gauge">
							<br>
							<p id="avgTemp"><b>How good is our forecast model?...</b></p>
							<!-- <svg id='svg2' viewBox="0 0 30 18" preserveAspectRatio="none" ></svg> -->
						</div>
					</div>
				<div class="panel-footer text-right">
					<a href="{{url_for('about2')}}"><i><b>More Info</b></i></a>
				</div>							
			</div>
		</div>				 
	</div>								
{% endblock %}

{% block index_script %}
	var allData = {{ data | tojson }};
	console.log(allData); //TESTING
	var weatherData = allData[0];
	var top10cData = allData[1];
	var top10dData = allData[2];
	var tempDifference = allData[3];
	GetWeather(weatherData);
	pieChartTop10(top10cData,top10dData);
	
	var quote;
	var author;

	$(document).ready(function () {
	 var url = "https://api.forismatic.com/api/1.0/?method=getQuote&format=jsonp&lang=en&jsonp=myJsonMethod&?callback=?";
	 $.getJSON(url);
	});			
			
	function myJsonMethod(response) {
	  quote = response.quoteText;
	  author = response.quoteAuthor;
	  if (response.quoteAuthor == '') {
		$('#quoteInfo').html("<h4>" + quote + "</h4>" + "<p><i>- Author Unknown</i></p>");
	  } else {
		$('#quoteInfo').html("<h4>" + quote + "</h4>" + "<p><i>- " + author + "</i></p>");
	  }
	}

	function onDocumentReady() {
		var powerGauge = gauge('#power-gauge', {
			size: 300,
			clipWidth: 300,
			clipHeight: 220,
			ringWidth: 60,
			maxValue: 18,
			transitionMs: 4000,
		});
		powerGauge.render();
		
		function updateReadings() {
			powerGauge.update(tempDifference);
		}			
		updateReadings();
	}
				
	if ( !window.isLoaded ) {
		window.addEventListener("load", function() {
			onDocumentReady();
		}, false);
	} else {
		onDocumentReady();
	}
{% endblock %}
