{% extends "base.html" %}

{% block content %}				
	<h2>References</h2>				
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default">						
				<div class="panel-body">							.
					<ol class="references">
						<li><a target="_blank" href="http://suruchifialoke.com/2016-08-17-machine-learning-tutorial-with-python-I/">
							<p id="ref-list">Suruchi Fialoke, <cite>Regression Forecasting and Predicting</cite>, suruchifialoke.com, 17 Aug. 2016. Web</p></a>
						</li>									
						<li><a target="_blank" href="https://www.scientificamerican.com/article/how-machine-learning-could-help-to-improve-climate-forecasts/">
							<p id="ref-list">Nicola Jones, <cite>How Machine Learning Could Help to Improve Climate Forecasts</cite>, Scientific American, 23 Aug. 2017. Web.</p></a>
						</li>
						<li><a target="_blank" href="https://stackabuse.com/using-machine-learning-to-predict-the-weather-part-1/">
							<p id="ref-list">Adam McQueen, <cite>Using Machine Learning to Predict the Weather: Part 1</cite>, Stack Abuse, 14 Nov. 2017. Web.</p></a>
						</li>									
						<li><a target="_blank" href="https://w1.weather.gov/glossary/">
							<p id="ref-list">NOAA, <cite>National Weather Service Glossary</cite>, 5 Jan. 2019. Web.</p></a>
						</li>
						<li><a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Linear_regression&oldid=876797132">
							<p id="ref-list">Wikipedia contributors. <cite>"Linear regression."</cite> Wikipedia, The Free Encyclopedia. Wikipedia, The Free Encyclopedia, 4 Jan. 2019. Web. 5 Jan. 2019.</p></a>
						</li>																		
						<li><a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Ordinary_least_squares&oldid=876394211">
							<p id="ref-list">Wikipedia contributors. <cite>"Ordinary least squares."</cite> Wikipedia, The Free Encyclopedia. Wikipedia, The Free Encyclopedia, 2 Jan. 2019. Web. 5 Jan. 2019.</p></a>
						</li>									
						<li><a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Stepwise_regression&oldid=873228475">
							<p id="ref-list">Wikipedia contributors. <cite>"Stepwise regression."</cite> Wikipedia, The Free Encyclopedia. Wikipedia, The Free Encyclopedia, 11 Dec. 2018. Web. 5 Jan. 2019.</p></a>
						</li>
					</ol>								
				</div>	
			</div>
		</div>
	</div>			
{% endblock %}					
				
