<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belly Button Biodiversity Sample Dashboard</title>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link type="text/css" href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <link type="text/css" href="../static/images/icons/css/font-awesome.css" rel="stylesheet">
    <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a>
			  	<a class="brand" href="../">
			  		Acme Data Group
			  	</a>
				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav nav-icons">
						<li><a href="#"><i class="icon-tasks"></i></a></li>
                        <li><a href="#"><i class="icon-calendar"></i></a></li>
					</ul>

					<form class="navbar-search pull-left input-append" action="#">
						<input type="text" class="span3">
						<button class="btn" type="button">
							<i class="icon-search"></i>
						</button>
					</form>
					
                    <ul class="nav pull-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Report 1</a></li>
								<li><a href="#">Report 2</a></li>
                                <li class="divider"></li>
                                <li class="nav-header">Example Header</li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </li>
                        <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="../static/images/user.png" class="nav-avatar" />
                            <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">Edit Profile</a></li>
                                <li><a href="#">Account Settings</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->

	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="sidebar">
                        <ul class="widget widget-menu unstyled">
                            <li class="active"><a href="../"><i class="menu-icon icon-dashboard"></i>My Dashboard </a></li>
							<li><a href="../tables"><i class="menu-icon icon-table"></i>Experiments </a></li>
							<li><a href="../charts"><i class="menu-icon icon-bar-chart"></i>Resources </a></li>
                        </ul>
					</div><!--/.sidebar-->
				</div><!--/.span3-->

				<div class="span9">
					<div class="content">									
						<div class="module">
                            <div class="module-head">
                                <h3>Experiments</h3>
                            </div>
                            <div class="module-body">
								<p class="lead">
									How accurate can a forecast be when using machine learning?  Find out more through this simple experiment by clicking 
									<a href="https://github.com/patrol7171/Machine-Learning-and-Climate-Change" target="_blank">here</a>.
								</p>						
                            </div>
							<img src="../static/images/climate_change_collage.jpg"/>
                        </div>
						
                        <!--/.module-->
					<br />
						
					</div><!--/.content-->
				</div><!--/.span9-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->

    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2018 - Patricia Rollins </b>All rights reserved.
        </div>
    </div>

	<script src="../static/scripts/jquery-1.9.1.min.js"></script>
	<script src="../static/scripts/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="../static/bootstrap/js/bootstrap.min.js"></script>
	<script src="../static/scripts/datatables/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script>
</body>